// Typography
.col {
    font-size: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 200px minmax(100px, 1fr) 300px;
    height: 100%;
}
@media screen and (max-width: 600px) {
    .container {
        overflow-x: scroll;
    }
}

.first-col {
    background-color: #96ceb4;
}
.second-col {
    background-color: #ffeead;
}
.third-col {
    background-color: #d9534f;
}

.full-width {
    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
